
  @*@  <div class="text-center">
        <div class="header"> </div>
            <h1 class="display-4">CITY BUS MANAGEMENT SYSTEM</h1>
    

        </div>
    <div style="background-image: url('~//img/download (1).jpg');"></div>
        <div class="container-fluid">
            <img src="~/img/download (1).jpg" /> *@

<div class="bg"></div>



<picture>
    <img src="~/img/city.png" style="float:left;width:400px;height:400px;" />

    <img src="~/img/city.gif" alt="bus" style="float:right;width:400px;height:400px;"/>
   
</picture>

